.search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #0095f6;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: #007bb5;
}
